:root {
	--font: "Helvetica", -apple-system, BlinkMacSystemFont, "Fira Sans", "Droid Sans", Arial, sans-serif;
}

html {
	font-family: var(--font);
	font-size: 1rem;
	line-height: 1.65em;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	box-sizing: border-box;
}

button {
	font-family: var(--font);
}

h1 {
	font-size: 1.5rem;
}

h2 {
	font-size: 1.25rem;
}

p {
	font-size: 1rem;
}